@import './markdown.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

* {
  user-select: none !important;
}

html.dark {
  /* background: #121212; */
  /* color-scheme: dark; */
}

html {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Ccircle cx='10' cy='10' r='2' fill='%23eeeeee'/%3E%3C/svg%3E");
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13,148,136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}


.toast {
  font-size: 0.75rem;
  background: #222;
  color: #fff;
  padding: 0.3rem 0.5rem;
  border-radius: 0.25rem;
}
.toast::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border: 0.25rem solid transparent;
  border-bottom-color: #222;
}